html {
	scroll-padding-top: 77.5px;
}

nav {
	.navbar-collapse {
		border: none;
	}
}

header {
	.hero-img {
		.fa-chevron-down {
			bottom: 25px;
		}
	}
}

main {
	.card-fix {
		transform: translateX(0px);
	}
}
