header {
	.hero-img {
		.hero-text {
			h1 {
				font-size: 32px;
			}

			p {
				font-size: 18px;
			}
		}
	}
}

main {
	.card-fix {
		transform: translateX(-25px);
	}

	.portfolio {
		.card-group {
			flex-direction: row;
		}
	}
}
