@import './reset';
@import './colors';

html {
	scroll-padding-top: 91.6px;
}

body {
	position: relative;
	font-family: 'Comfortaa', cursive;
	background-color: #444;
}

h2 {
	text-align: center;
	text-transform: uppercase;
}

.underline {
	margin: 0 auto 40px;
	width: 70px;
	height: 5px;
	border-radius: 20px;
	background-color: $main-color;
}

.site-title {
	font-size: 110%;
	color: $main-color;
	letter-spacing: 2px;
	transition: color 0.4s;
}

.nav-shadow {
	background-color: rgba(0, 0, 0, 0.85);
}

nav {
	text-transform: uppercase;
	font-weight: bold;
	z-index: 1;
	transition: background-color 0.6s;

	.navbar-collapse {
		font-size: 0;
		border-left: 3px solid $main-color;
		padding-left: 10px;
	}

	//remove shadow from button
	.navbar-toggler:focus {
		box-shadow: 0 0 0 0px;
	}

	.navbar-brand {
		color: $font-color;
		transition: color 0.4s;
	}

	.nav-link {
		font-size: 16px;
		color: $font-color;
	}

	.nav-link:hover,
	.navbar-brand:hover {
		color: $main-color;
	}

	.navbar-brand:hover > .site-title {
		color: $font-color;
	}

	.fa-cut {
		font-size: 30px;
		color: $main-color;
	}

	.fa-bars {
		padding: 10px;
		font-size: 30px;
		color: $font-color;
		transition: color 0.4s;
	}

	.fa-bars:hover {
		color: $main-color;
	}

	//scrollspy
	.active {
		color: $main-color;
	}
}

header {
	color: $font-color;

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/banner640.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;

		.hero-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.75);
			z-index: -5;
		}

		.hero-text {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			height: 100%;
			z-index: 1;
			padding: 20px;

			h1 {
				font-size: 30px;
				font-weight: bold;
				text-transform: uppercase;
				padding-bottom: 15px;
			}

			p {
				font-size: 16px;
				padding-bottom: 15px;
			}

			.btn-outline-light {
				font-weight: bold;
				text-transform: uppercase;
				color: $main-color;
			}
		}

		.fa-chevron-down {
			position: absolute;
			bottom: 25px;
			left: 50%;
			transform: translateX(-50%);
			font-size: 34px;
			color: $font-color;
		}
	}
}

main {
	//first about us section
	.aboutus {
		background-color: $bg-color;
		.cards {
			div {
				padding: 20px 50px;
				transition: color 0.3s;
			}

			div:hover {
				color: $main-color;
			}
		}
	}

	//second about us section
	.aboutus-hero-img {
		position: relative;
		background-image: url('../img/about_640.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;

		.container {
			z-index: 10;
			color: $font-color;

			.hero-cards {
				div {
					padding: 20px 50px;
				}
			}
		}
	}

	.aboutus-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.75);
		z-index: -10;
	}

	.fas {
		font-size: 28px;
	}
	.aboutus-card-title {
		text-transform: uppercase;
		font-size: 24px;
	}

	.aboutus-card-text {
		font-size: 18px;
	}

	//portfolio section
	.portfolio {
		background-color: $bg-color;
		//desktop version
		.carousel {
			width: 90%;
			margin: 0 auto;
		}
		.carousel-item {
			position: relative;
			height: 480px;

			.carousel-caption {
				position: absolute;
				left: 0;
				right: 0;
				background-color: rgba(0, 0, 0, 0.8);
				padding: 35px 0;
			}
		}

		.carousel-indicators {
			padding-bottom: 20px;
		}

		.carousel-control-prev-icon,
		.carousel-control-next-icon {
			background: none;
		}

		.arrows {
			font-size: 32px;
			color: $main-color;
		}

		//mobile version
		.card-group {
			display: flex;
			flex-flow: column wrap;
			.card {
				margin: 10px 10px;
				text-align: center;
			}
		}
	}

	.prices {
		.container > p:first-of-type {
			margin-top: 25px;
			font-size: 18px;
		}

		.container > p {
			text-align: center;
		}

		span {
			font-weight: bold;
			text-transform: uppercase;
			letter-spacing: 3.5px;
			color: $main-color;
		}

		.price-contact {
			text-decoration: none;
			color: $main-color;
		}

		.price-contact:hover {
			color: rgb(124, 9, 124);
		}

		.prices-box {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;

			.btn {
				margin-top: 20px;
				letter-spacing: 2.5px;
				padding: 10px 20px;
			}

			.prices-items {
				width: 350px;
				text-align: center;
				margin: 20px;
				padding: 30px 10px;
				background-color: #fff;
				box-shadow: 5px 5px 5px rgba(49, 49, 49, .4);
				transition: transform 0.3s;

				.btn-primary {
					background-color: $main-color;
					border: $main-color;
				}

				.btn-primary:hover {
					background-color: rgb(124, 9, 124);
					border: rgb(124, 9, 124);
				}

				hr {
					width: 80%;
					margin-left: auto;
					margin-right: auto;
				}

				p:first-of-type {
					font-weight: bold;
					font-size: 18px;
				}

				h4 {
					text-transform: uppercase;
					color: $main-color;
				}
			}

			.prices-items:hover {
				transform: scale(1.05);
			}
		}
	}
}
